In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv(r"C:\Users\kamalyogi\Desktop\MLCL\Practice\housingg.csv")

In [3]:
data.shape

(20640, 10)

In [4]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [24]:
x = data.iloc[:,1:12]

In [25]:
y = data['median_house_value']

In [ ]:
data['mainroad']=le.fit_transform(data['mainroad'])

In [ ]:
data['guestroom']=le.fit_transform(data['guestroom'])

In [ ]:
data['basement']=le.fit_transform(data['basement'])

In [ ]:
data['hotwaterheating']=le.fit_transform(data['hotwaterheating'])

In [ ]:
data['airconditioning']=le.fit_transform(data['airconditioning'])

In [ ]:
data['prefarea']=le.fit_transform(data['prefarea'])

In [23]:
data['ocean_proximity']=le.fit_transform(data['ocean_proximity'])

In [19]:
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

       ocean_proximity
0                    3
1                    3
2                    3
3                    3
4                    3
...                ...
20635                1
20636                1
20637                1
20638                1
20639                1

[20640 rows x 10 columns]

In [10]:
from sklearn.model_selection import train_test_split

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [26]:
x_std = scaler.fit_transform(x)

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x_std,y,test_size=0.3,random_state=0)

In [28]:
from sklearn.neural_network import MLPRegressor
mlp = MLPRegressor()

In [ ]:
mlp = MLPRegressor(hidden_layer_sizes=(100,200),activation='identity',solver='lbfgs', max_iter=100).fit(x_train,y_train)

In [ ]:
mlp.score(x_train,y_train)*100

In [ ]:
mlp.score(x_test,y_test)*100

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report,plot_confusion_matrix

In [ ]:
y_pred = mlp.predict(x_test)